*{
    font-family: sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



.header{
width: 200%;
min-height: 100vh;
background: white ;
box-sizing:cover;
border: 0px solid gray;
}

.logo-content{
display: flex;
flex-direction: row;
align-items: center;
border: 0px solid gray;
width: 80%;
margin: 30px;
}

.logo-content img{
border: solid 0px #42515f;
width: 5%;
}

.add-text{
color: rgb(237, 102, 100);
text-transform: capitalize;
letter-spacing: 0px;
font: normal normal bold 24px/25px Roboto;
}

.add-payroll{
color:#470bee
}

.form-content{
min-height: calc(100%-80px);
background-color: rgb(0, 255, 94);
display: flex;
justify-content: center;
align-items: center;
border: 0px solid green;
}

.form{
width: 80%;
height: 100%;
padding: 44px 60px;
background: #ffffff 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #f5f5f5;
border-radius: 8px;
opacity: 1;
height: 500%;
}

.form-head{
font: normal bold;
letter-spacing: 0px;
color: #eff6f8;
text-transform: capitalize;
opacity: 1;
background:rgb(32, 199, 99);
padding: 20px;
text-align: center;
align-content: center;
margin-bottom: 5%;
}

.label{
min-width: 200px;
}

label{
padding: 12px 12px 12px 0;
display: inline-block;
}


.text{
font-size: 16px;
color: #0f49dc;
opacity: 1;
}

.input{
width: 100%;
padding: 12px;
border: 2px solid #2711f0;
border-radius: 4px;
resize: vertical;
}



select {
padding: 12px;
margin-right: 30px;
width: 30%; 
margin-top: 4%; 
color: blue; 
border: 2px solid #2711f0;
border-radius: 4px;
resize: vertical;
font: normal normal normal 16px Roboto;
letter-spacing: 0px;
background-color: transparent;
}

.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 30%;
}

.button{
    font-size:15px;
    letter-spacing: 0px;
    color: #330df0;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 100px;
    padding: 7px 7px;
    border: 1px solid #1057f0;
    cursor: pointer;
}

.addButton{
    border: none;
    background-color: rgb(14, 218, 48);
    margin-right: 30px;
    border: 2px solid hsl(240, 85%, 52%);
    font: normal normal bold 24px/25px Roboto;
    font-family: 'Georgia';


}

.resetButton{
    border: none;
    background-color: rgb(236, 43, 153);
    margin-right: 30px;
    border: 2px solid hsl(240, 85%, 52%);
    font: normal normal bold 24px/25px Roboto;
    font-family: 'Georgia';
}

.text-error{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}